
*.cache
*.ide-shm
*.ide-wal
*.cache
*.mdf
*.cache
FilManager/obj/Debug/FilManager.csproj.CoreCompileInputs.cache
FilManager/obj/Debug/FilManager.csproj.GenerateResource.cache
FilManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
